.modal-dialog {
  width: 900px;
  margin-bottom: 110px;
  padding-left: 300px;
  margin-left: 130px;
  background: 'none';
  box-shadow: 'none';
}

.dialog-content {
  padding: 6px;
  margin: 12px;
  margin-left: 26px;
  text-align: left;
}

.q-icon {
  position: absolute;
  left: 22px;
  top: 30px;
  width: 24px;
}
